/* Default
===================== */
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


/* Nav
===================== */
.main-header {
  width: 100%;
  background-color: $dark-color;
  min-height: 200px;
  text-align: center;

  h1 {
    padding: 80px 0px 45px 0;
    margin: 0;
    text-align: center;
  }
}

.nav-trigger {
  padding: 10px 40px 10px 10px;
  cursor: pointer;
  font-size: 30px;
  background-color: rgba(208, 208, 208, 0.6);
  border-radius: 0px; // Not sure
  border: 2px solid $dark-color;
}

.nav-hidden {
  display: none;
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  height: 36px;
  width: 36px;
  z-index: 1;

  ul {
    transition: all .05s;
    position: fixed;
    left: -9000px;
  }
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);

  ul {
    transition: all .05s;
    position: relative;
    left: 0;
    z-index: 2;
  }

  a {
    transition: all .3s;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    padding: 5px;
    font-family: $title-font;

    &:hover {
      color: $yellow-color;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
    }
  }
}

.logo {
  display: block;
  padding: 50px 0px 50px 0px;
}

/* Content
===================== */

// Title Area
.content span {
  color: $red-color;
}

.content p {
  margin-top: 30px;
  font-size: 18px;
}

.title-area {
  background-color: #F2F2F2;
  padding: 30px 0 30px 0;
  text-align: center;

  h1 {
    margin: 0;
  }
}

// Display Area
.square {
  background-color: blue;
  max-width: 100%;
  height: 300px;
  margin: 30px 0 30px 0;
}

.display-area {
  padding: 40px 0 35px 0;
  min-height: 550px;

    img {
      margin-bottom: 15px;
      transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
}

/* Footer
===================== */
footer {
  background-color: $dark-color;
  padding: 20px 0 20px 0;
}

label {
  color: #fff;
  font-size: 18px;
}

footer h2 {
  font-family: $title-font;
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
}

footer p {
  color: #ffffff;
  line-height: 25px;
}

.form-control {
  border-radius: 0px;
}

footer ul {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;

  a {
    font-family: $body-font;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $yellow-color;
      text-decoration: none;
    }
  }
}

.social-icons {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;

  a {
    color: #fff;
    margin-left: 5px;

    &:hover {
      color: $yellow-color;
    }
  }
}

/* Grid
===================== */


/* Media Queries
===================== */
